<div id="confirmModal" class="modal hidden">
  <div class="modal-box">
    <button class="modal-close" type="button">&times;</button>

    <h3 id="modalTitle"></h3>
    <p id="modalDesc" class="modal-desc"></p>

    <div class="modal-actions">
      <button id="modalConfirm" class="btn-delete">Xác nhận</button>
      <button id="modalCancel" class="btn-cancel">Quay lại</button>
    </div>
  </div>
</div>

<div id="toast" class="toast hidden">
  <i class="fa-solid fa-check"></i>
  <span id="toastText"></span>
</div>
