<aside class="sidebar">
  <h2 class="logo">Trang quản trị</h2>

  <nav>
    <a href="../dashboard/dashboard.html" data-page="dashboard">
      <i class="fa-solid fa-house"></i>
      <span>Bảng điều khiển</span>
    </a>

    <a href="../user/user.html" data-page="user">
      <i class="fa-solid fa-users"></i>
      <span>Người dùng</span>
    </a>

    <a href="../digital/digital.html" data-page="digital">
      <i class="fa-solid fa-user-doctor"></i>
      <span>Nhân vật số</span>
    </a>
  </nav>
</aside>
